In [1]:
import pandas as pd
import nltk
import re
from bs4 import BeautifulSoup

In [2]:
a = pd.read_excel("å–œ.xlsx")

In [3]:
a = a.drop(["Unnamed: 0"], axis=1)

In [4]:
a.head()

                                text  label
0                  ç¬‘åˆ°ç¿»æ‰  ç«ç½çœŸçš„ä¾†äº†æˆ‘æœƒå…ˆç¬‘æ­»      1
1               çœ‹åˆ°ä»–æ»¿è¶³çš„è¡¨æƒ…ï¼Œå°±çŸ¥é“é€™ä¸€åˆ‡éƒ½å€¼å¾—ğŸ‘ğŸ»      1
2                   çœŸçš„è¶…æœ‰æ‰ï¼Œé€™å€‹å’Œç„¡äººæ©Ÿæˆ‘å¿«ç¬‘æ”¤      1
3  ç«ç½çœŸçš„ä¾†çš„è©±...æ¯”èµ·å—†æ­»æˆ–è¢«ç‡’æ­».... æˆ‘æ‡‰è©²æœƒå…ˆç¬‘æ­»www      1
4                 çœŸçš„æ˜¯å……æ»¿å–œæ­¡æµªè²»æ‰èƒ½çš„äººæ‰å‘¢www      1

In [5]:
b = pd.read_excel('æ€’.xlsx')

In [6]:
b.head()

             text  label
0           çœŸçš„æ˜¯å»¢ç‰©      2
1            å¯æ‚²æ”¿åºœ      2
2            åƒåœ¾éŠæˆ²      2
3        é€™éƒ¨é›»å½±æœ‰å¤ ç„¡èŠ      2
4  æˆ‘ç‚ºä»€éº¼è¦ç†¬å¤œçœ‹é€™å ´ç™½ç™¡æ¯”è³½      2

In [7]:
c = pd.read_excel("å“€.xlsx")

In [8]:
c.head()

                                        text  label
0                             å°±çµæŸäº†ã€‚ã€‚ã€‚ã€‚ R.I.P      3
1                              é€™ç¨®é›£é ä»–ä¸€å®šä¹Ÿå¾ˆæ‡Šæ‚”ã€‚      3
2  é€™å€‹å½±ç‰‡å¥½æƒ³å“­æ²’æƒ³åˆ°ä»–é›–ç„¶å°±èµ°äº†ï¼Œä½†æˆ‘ä¸èªè­˜ä»–ï¼Œç¥ç¦ä»–å¥½å¥½èµ°,å¸Œæœ›ä»–åœ¨å¤©åœ‹é–‹é–‹å¿ƒå¿ƒ      3
3                                  é€™éº¼å¥½çš„äººç«Ÿç„¶å»ä¸–      3
4                               ä¸€è·¯å¥½èµ°ï¼ç¥ä½ ä¾†ä¸–å¹¸ç¦ï¼      3

In [9]:
data = pd.concat([a,b,c], axis=0, ignore_index=True)

In [10]:
data = data.dropna(axis = 0, how = 'any')

In [11]:
data = data.rename(columns = {'label' : 'target'})

In [12]:
data['target'] -= 1

In [13]:
data

                                  text  target
0                    ç¬‘åˆ°ç¿»æ‰  ç«ç½çœŸçš„ä¾†äº†æˆ‘æœƒå…ˆç¬‘æ­»       0
1                 çœ‹åˆ°ä»–æ»¿è¶³çš„è¡¨æƒ…ï¼Œå°±çŸ¥é“é€™ä¸€åˆ‡éƒ½å€¼å¾—ğŸ‘ğŸ»       0
2                     çœŸçš„è¶…æœ‰æ‰ï¼Œé€™å€‹å’Œç„¡äººæ©Ÿæˆ‘å¿«ç¬‘æ”¤       0
3    ç«ç½çœŸçš„ä¾†çš„è©±...æ¯”èµ·å—†æ­»æˆ–è¢«ç‡’æ­».... æˆ‘æ‡‰è©²æœƒå…ˆç¬‘æ­»www       0
4                   çœŸçš„æ˜¯å……æ»¿å–œæ­¡æµªè²»æ‰èƒ½çš„äººæ‰å‘¢www       0
..                                 ...     ...
595                      å…¶å¯¦æˆ‘ä¹Ÿè¦ºå¾—ä¸å¤ªOK(æ‘€è‡‰       2
596                     æˆ‘å¥½åƒæ‰¾åˆ°æˆ‘æ²’æœ‰å¥³å‹çš„åŸå› äº†       2
597    æˆ¿åƒ¹å¥½é«˜è²·ä¸èµ·\nä¸çŸ¥é“ç­‰æˆ‘å››äº”åæ­²çš„æ™‚å€™èƒ½ä¸èƒ½è²·ä¸€é–“éƒ½ä¸çŸ¥é“       2
598         æˆ‘å¹³æ™‚å¯ä»¥è¬›å¾—æ›´å¥½ ä½†æ˜¯é‚£å¤©çœŸçš„æ˜¯æœ‰å¤ ç·Šå¼µçš„é˜¿...       2
599                               å¤ªå¯æƒœäº†       2

[600 rows x 2 columns]

In [14]:
data['target'].value_counts()

2    201
0    200
1    199
Name: target, dtype: int64

In [17]:
data.to_csv("200_å–œæ€’å“€.csv",index=False)